.grouppicturecontent
{
    width: 100%;
    margin: 0px;
    background-color: lightgray;
}

body main article p, body main figure img
{
    padding-right: 30Px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin-bottom: 0;
}

main figure img
{
    width: 50%;
    border-radius: 15px;
    margin-top: 20px;
}

main figure{
    text-align: center;
    display: block;
}

main p
{
    text-align: center;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif
}

main table
{
    margin-top: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background-color: #1F2937;
}

main table tr td figure img
{
    width: 80%;
}

main table tr td
{
    width: 50%;
    color: white;
    text-align: center;
}

main video {
    width: 80%;
    display: block;
    margin: 20px auto;
}
